dist: bionic

language: python
python:
  - "3.6"
  - "3.7"

install:
    - pip install -r requirements.txt
    - export DISPLAY=:99.0
    - export QT_QPA_PLATFORM=minimal

addons:
  apt:
    packages:
      - python3-pyside

script: pytest -s